@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional: hide horizontal scrollbar when using overflow-x-auto */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
